#bitbucket-deploy-settings fieldset {
    background: white;
    padding: 10px;
    float: left;
    min-height: 300px;
    margin: 5px;
}

#bitbucket-deploy-settings fieldset .row {
    background: #f0f0f0;
    padding: 2px;
    margin-bottom: 2px;
    position: relative;
}

#bitbucket-deploy-settings fieldset legend {
    font-family: monospace;
    font-weight: bold;
    font-size: 120%;
    text-transform: uppercase;
}

#bitbucket-deploy-settings fieldset input[type=text] {
    width: 100%;
}

#bitbucket-deploy-settings fieldset input[type=text]::placeholder {
    color: #fff;
}

#bitbucket-deploy-settings fieldset input[type=text]:placeholder-shown {
    background: red;
}

#bitbucket-deploy-settings button {
    cursor: pointer;
}

#bitbucket-deploy-settings fieldset small {
    display: block;
    color: #232222;
}

#bitbucket-deploy-settings h1.warning {
    color: #f00;
}

#bitbucket-deploy-settings #webhook-secret-generate {
    position: absolute;
    top: 50px;
    right: 0;
}

#bitbucket-deploy-settings #webhook-url {
    color: darkgreen;
    font-weight: bold;
}